@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

html {
  font-family: 'Orbit';
  color: #e5e5e5;
}

body {
    width: 500px;
    margin: 4% auto;
    background-color: #14213d;
}

